@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
$arancio: #ff3800;
$bluScuro: #183061;

.totalissimo {
  background-image: url("../nike_hompage.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 85vh;
  background-size: contain;
}
.divimg {
  position: fixed;
  top: 14%;
  left: 2%;
  .pp {
    color: $arancio;
    font-size: larger;
    font-weight: 500;
    font-family: "Lobster", cursive;
    position: fixed;
    left: 7%;
  }
}
.divscritta {
  position: fixed;
  top: 8%;
  right: 15%;
  .pi {
    position: fixed;
    right: 8%;
    color: $arancio;
    font-size: larger;
    font-weight: 500;
    font-family: "Lobster", cursive;
    .aa {
      color: $arancio;
      text-decoration: none;
    }
  }
  .pi:hover {
    transform: scale(1.2);
  }
}

.divPalla {
  height: 192px;
  position: fixed;
  width: 429px;
  top: 41%;
  right: 0%;
  transform: rotate(236deg);
}

.dropdown-menu.show {
  background-color: $bluScuro;
}

.items:hover {
  background-color: #ff3800;
  color: #ff3800;
}

.bottoneItems {
  background-color: #183061;
}
.bottoneItems:hover {
  background-color: #ff3800;
}

//----------------------------------------Card Scarpe--------------------------------------------

.a12 {
  font-family: "Lobster", cursive;
  text-decoration: none;
  color: $arancio;
  font-weight: bold;
}
.a12:hover {
  color: white;
}
.imgscarpee {
  object-fit: cover;
  transform: rotate(-28deg);
}

.contenitore {
  position: fixed;
  bottom: 0%;
  left: 2%;
  width: 96%;
}
