.totalissimo {
  background-image: url("../nike_hompage.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 90vh;
  background-size: contain;
}
