$bluScuro: #183061;
.Navbare {
  background-color: $bluScuro;
  border-bottom: white solid 1px;
  height: 75px;
  position: sticky;
  top: 0%;
  z-index: 3;
}
.numeretto {
  position: absolute;
  width: 21px;
  font-size: 10px;
  height: 17px;
  background-color: orangered;
}
.caratteraGrande {
  font-size: larger;
}

#scarpeButton:active {
  border-block-start: orangered solid 3px;
}
#felpeButton:active {
  border-block-start: orangered solid 3px;
}
#cappelliButton:active {
  border-block-start: orangered solid 3px;
}

#logonike {
  position: relative;
  left: -45px;
}
