$arancio: #ff3800;
$bluScuro: #183061;

.scarpeimg {
  object-fit: contain;
}
.scarpeimg:hover {
  transform: scale(1.3);
}

.spanneriz {
  color: $bluScuro;
  background-color: $arancio;
}

.bottonesp {
  border: black 2px dashed;
}
.modal-content {
  box-shadow: 2px 2px 20px 12px blue;
}

.BLUES {
  background: rgb(21, 0, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(21, 0, 255, 0.397905280276173) 23%,
    rgba(126, 241, 248, 0.4) 49%,
    rgba(126, 241, 248, 1) 94%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(21, 0, 255, 0.397905280276173) 23%,
    rgba(126, 241, 248, 0.4) 49%,
    rgba(126, 241, 248, 1) 94%
  );
  background: radial-gradient(
    circle,
    rgba(21, 0, 255, 0.397905280276173) 23%,
    rgba(126, 241, 248, 0.4) 49%,
    rgba(126, 241, 248, 1) 94%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1500ff",endColorstr="#7ef1f8",GradientType=1);
}
